
#main {
  width: 70%;
  padding-bottom: 3%;  
  margin: auto;
  margin-top: 3%;
  background:rgb(241, 233, 233); 
  border: 2px solid rgb(173, 167, 167);
  border-radius: 5px; 
}

#centered {
  padding-top: 5%;
  width: 70%;
  margin: auto; 
  text-align: center;
}

img{
  width: 20%;
  height: 10%;
  margin: 4%;
}

input {
  width: 200px;
  height: 30px;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 5px;
}

p{
  margin: 0;
}

h4{
  margin:0;
}

#flex {
  display: flex; 
  justify-content: space-between;
}

#movie-card{
  margin-bottom: 3%;
  display: flex; 
  border: 2px solid rgb(168, 168, 168);
  border-radius: 5px;
  background: white;
}

#left-container {
padding: 3%;
width: 50%;
float:left;
}

#right-container {
padding: 3%;
width:50%;
float: right;
}

#red {
  color:red;
  font-weight: bold;
}