body {
  background: rgb(236, 235, 235);
}

#centered {
  padding: 5%;
  width: 70%;
  margin: auto; 
  text-align: center;
}

input {
  width: 200px;
  height: 30px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 6px;
  cursor: pointer;
}

#center {
  text-align: center;
}

#flex {
  display: flex; 
  /* align-items: center; */
  justify-content: space-between;
}

#left-container {
margin-left: 10%;
padding: 3%;
background: white;
}

#right-container {
margin-right: 10%;
padding: 3%;
background: white;
}

#red {
  color:red;
}